openapi: 3.1.0
info:
  title: Visteon Phoenix Audio API
  description: The Phoenix API is an automotive-oriented JavaScript interface for building HTML5 applications on Visteon's Phoenix infotainment platform. The API provides access to vehicle cockpit domains including audio playback and volume control, phone call management, media library browsing, navigation routing, screen and display management, remote UI rendering, and vehicle data such as speed, fuel level, and HVAC status. Applications written with the Phoenix API run across Visteon SmartCore and display audio infotainment hardware platforms.
  version: '2.0'
  contact:
    name: Visteon Developer Network
    url: https://developer.visteon.com/phoenix/
  license:
    name: Visteon Developer License
    url: https://developer.visteon.com/phoenix/
  termsOfService: https://www.visteon.com/legal/
servers:
- url: https://developer.visteon.com/phoenix/api
  description: Visteon Phoenix Platform API
security:
- ApiKeyAuth: []
tags:
- name: Audio
  description: Audio playback, volume, and source management
paths:
  /audio/status:
    get:
      operationId: getAudioStatus
      summary: Get Audio Status
      description: Returns the current audio status including playback state, active audio source, volume level, and mute state.
      tags:
      - Audio
      responses:
        '200':
          description: Current audio status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioStatus'
        '500':
          description: Internal server error
  /audio/volume:
    get:
      operationId: getVolume
      summary: Get Volume
      description: Returns the current master volume level and mute status.
      tags:
      - Audio
      responses:
        '200':
          description: Current volume settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeSettings'
        '500':
          description: Internal server error
    put:
      operationId: setVolume
      summary: Set Volume
      description: Sets the master volume level for the infotainment system.
      tags:
      - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeUpdate'
      responses:
        '200':
          description: Updated volume settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeSettings'
        '400':
          description: Invalid volume value
        '500':
          description: Internal server error
  /audio/sources:
    get:
      operationId: listAudioSources
      summary: List Audio Sources
      description: Returns all available audio sources such as FM radio, AM radio, Bluetooth audio, USB media, and auxiliary input.
      tags:
      - Audio
      responses:
        '200':
          description: List of audio sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioSourceList'
        '500':
          description: Internal server error
  /audio/sources/{sourceId}/activate:
    post:
      operationId: activateAudioSource
      summary: Activate Audio Source
      description: Switches the active audio source to the specified source.
      tags:
      - Audio
      parameters:
      - name: sourceId
        in: path
        required: true
        description: Identifier of the audio source to activate
        schema:
          type: string
      responses:
        '200':
          description: Audio source activated
        '404':
          description: Audio source not found
        '500':
          description: Internal server error
components:
  schemas:
    AudioSourceList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
                enum:
                - fm
                - am
                - bluetooth
                - usb
                - aux
                - streaming
              isActive:
                type: boolean
    VolumeUpdate:
      type: object
      description: Volume update request
      properties:
        level:
          type: integer
          minimum: 0
          maximum: 100
        mute:
          type: boolean
    AudioStatus:
      type: object
      description: Current audio system status
      properties:
        isPlaying:
          type: boolean
        activeSource:
          type: string
        volume:
          type: integer
          minimum: 0
          maximum: 100
        isMuted:
          type: boolean
    VolumeSettings:
      type: object
      description: Volume configuration
      properties:
        level:
          type: integer
          minimum: 0
          maximum: 100
        isMuted:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Phoenix-API-Key
externalDocs:
  description: Visteon Phoenix API Documentation
  url: https://developer.visteon.com/phoenix/api.html
