openapi: 3.2.0
info:
  title: Visteon Phoenix Screen Management API
  description: The Phoenix API is an automotive-oriented JavaScript interface for building HTML5 applications on Visteon's Phoenix infotainment platform.
  version: '2.0'
  contact:
    name: Visteon Developer Network
    url: https://developer.visteon.com/phoenix/
  license:
    name: Visteon Developer License
    url: https://developer.visteon.com/phoenix/
  termsOfService: https://www.visteon.com/legal/
servers:
- url: https://developer.visteon.com/phoenix/api
  description: Visteon Phoenix Platform API
security:
- ApiKeyAuth: []
tags:
- name: Screen Management
  description: Display and screen configuration for multi-screen cockpit
paths:
  /screen/displays:
    get:
      operationId: listDisplays
      summary: List Displays
      description: Returns all display screens available in the vehicle cockpit including instrument cluster, center stack, and passenger displays.
      tags:
      - Screen Management
      responses:
        '200':
          description: List of displays
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayList'
        '500':
          description: Internal server error
  /screen/displays/{displayId}:
    get:
      operationId: getDisplay
      summary: Get Display
      description: Returns configuration and state of a specific display screen.
      tags:
      - Screen Management
      parameters:
      - name: displayId
        in: path
        required: true
        description: Identifier of the display
        schema:
          type: string
      responses:
        '200':
          description: Display configuration and state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '404':
          description: Display not found
        '500':
          description: Internal server error
components:
  schemas:
    DisplayList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Display'
    Display:
      type: object
      description: A cockpit display screen
      properties:
        id:
          type: string
        name:
          type: string
          description: Display name (e.g. Center Stack, Instrument Cluster)
        resolution:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        orientation:
          type: string
          enum:
          - landscape
          - portrait
        isOn:
          type: boolean
        brightness:
          type: integer
          minimum: 0
          maximum: 100
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Phoenix-API-Key
externalDocs:
  description: Visteon Phoenix API Documentation
  url: https://developer.visteon.com/phoenix/api.html
